body {
   margin: 0;
   color: #ababab;
   font-family: "Avenir Next", "Avenir", sans-serif;
}

.logo img {
  width: 20%;
}

.cart {
  display: flex;
  flex-direction: row-reverse;
}

path {
  fill: #ababab;
}

.cart img {
  width: 5%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

header {
  width: 96%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}

.main-text-container {
    width: 40%;
    float: right;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text {
    margin: 0;
    font-family: 'Tangerine', cursive;
    font-size:3em;
}

#overthefold {
    width: 100%;
    height: 140vh;
    background-image: url('/media/brown.png');
    background-position: center;
    background-size: cover;
    margin: 0;
}

















/* Menyn */
 #menuToggle
 {
   display: block;
   position: relative;
   top: 2em;
   left: 2em;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 5vh;
   height: 5vh;
   position: absolute;
   cursor: pointer;
   opacity: 0; 
   z-index: 2; 
   -webkit-touch-callout: none;
 }
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 0.3vh;
   margin-bottom: 5px;
   position: relative;
   background: #cdcdcd;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu
 {
   position: absolute;
   width: 10vw;
   margin: -100px 0 0 -50px;
   padding: 3vw;
   padding-top: 20vh;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased; 
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 1vw 0;
   font-size: 1em;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

